@*LEGENDA*@
<table id="tabela_revisoes" class="table-bordered" style="width:100%">
    <tr>
        <th style="vertical-align:central;width:100%;height:10px">
            <div class="col-md-4" style="text-align:left">
                LEGENDA:
            </div>
            <div class="col-md-4" style="text-align:center">
                V - VERIFICADO
            </div>
            <div class="col-md-4" style="text-align:center">
                ND - DADO NÃO DISPONÍVEL
            </div>
            <div class="col-md-4" style="text-align:center">
                NA - NÃO APLICÁVEL
            </div>
            <div class="col-md-4" style="text-align:center">
                X - ERRO
            </div>
            <div class="col-md-4" style="text-align:center">
                I - INDEFINIDO
            </div>
        </th>
    </tr>
</table>

@*PROCEDIMENTO*@
<table id="tabela_revisoes" class="table-bordered" style="width:100%">
    <tr>
        <th style="text-align:left;vertical-align:baseline;width:100%;height:10px">
            <div style="padding-left:5px">
                PROCEDIMENTO:
            </div>
            <div style="padding-left:5px">
                O verificador, ao analisar o documento, deverá verificar, no mínimo, os itens relacionados acima. Após verificação, deverá registrar na coluna da revisão atual, a letra “V” indicando que o item foi verificado, as letras "ND" indicando que a verificação não foi realizada por falta de dados e as letras "NA" indicando que o item não se aplica ao documento ou a esta revisão. Utilizar o verso, se existir alguma observação a ser registrada.
            </div>
        </th>
    </tr>
</table>



