
@model WebAppAWListaVerificacao.Models.PlanilhaViewModel

@using WebAppAWListaVerificacao.Models

@{
    ViewBag.laynivel = ViewBag.nivel;
    ViewBag.layguid = ViewBag.guid;
    
    Layout = "~/Views/Shared/_LayoutSemPlanilha.cshtml";
}

@{

    //Session["planilhaViewModel"] = Model;
    //var login = (UsuarioCorrente)Session["Login"];
    //var doc = (DocumentoApp)Session["Doc"];
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="ok" class="col-md-pull-2" style="position: absolute"></div>

<h1> SEM PLANILHA DEFINIDA</h1>






