@*@using WebAppAWListaVerificacao.Models*@
@*@using AppListaVerificacao.Interface;*@
@using LVModel;
@using EntidadesRepositoriosLeitura;


@{

    //ListaVerficacaoVM lista = ViewBag.LV;

    List<string> listaStatus = new List<string> { "V", "ND", "NA", "X", "I" };

    string idLinha = ViewBag.GuidLinha;
    string idGrupo = ViewBag.GuidGrupo;
    string idRev = ViewBag.GuidRev;
    string indRevisao = ViewBag.IndiceRevisao;

    string strStatusAgora = listaStatus[int.Parse(ViewBag.StatusAgora) - 1];


    <table border="1" id=@idLinha>
        <tr>
            <td style="text-align:center;vertical-align:central;align-content:center;width:auto;margin:auto" />
            @for (int i = 0; i < listaStatus.Count - 1; i++)
            {
                <td style="@(strStatusAgora != null && strStatusAgora != "I" && strStatusAgora.Equals(listaStatus[i]) ? "background-color:darksalmon;width:auto;margin:auto" : "width:auto;margin:auto")">

                    <a style="margin:2px">
                        @Ajax.ActionLink(listaStatus[i], "_AjxDefineStatus",
                       new { idTipo = ViewBag.IdTipo, status = i + 1, guidGrupo = @idGrupo, guidLinha = @idLinha, guidRev = @idRev, indiceRev = @indRevisao, item = ViewBag.Item},
                       new AjaxOptions
                            {
                           HttpMethod = "GET",
                           UpdateTargetId = @idLinha,
                           InsertionMode = InsertionMode.Replace
                       })
                    </a>

                </td>
            }
            <td style="text-align:center;vertical-align:central;align-content:center;width:auto;margin:auto" />
        </tr>
    </table>
}
