

@model LVModel.NumeroDocSNCLavalin

@{
    ViewBag.Title = "SetSequencial";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var resposta = ViewBag.resp;

    //var _numeroDocumento = Session["NumeroDocumento"];

    var msgErro = (string)ViewBag.MSGErroBusca;
}

<div id="dialog-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div class="col-md-10"><h4>Buscar Lista</h4></div>
                <div class="col-md-2"><button type="button" class="btn  btn-default" onclick="Sai()">X</button></div>
            </div>
            <img id="divLoading" src="~/img/tenor.gif" alt="Loading Image" height="150" title="Loading Image" class="HideLoader" />
            <div class="modal-body">
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/img/progress.gif" />
                </div>
            </div>

            

            <div class="modal-footer">
                @using (Ajax.BeginForm(new AjaxOptions
                {
                    UpdateTargetId = "UpdateContentDiv",
                    InsertionMode = InsertionMode.Replace,
                    OnBegin = "onAjaxBegin",
                    OnComplete = "onAjaxComplete",
                    OnSuccess = "AjaxFormSuccess"
                }))
                {

                    @Html.HiddenFor(m => m.NUMERO);


                    @*<div id="msg ShowLoader">
                @if (resposta == false)
                {
                    <h4> Nenhum documento encontrado</h4>


                }
                else if (resposta == true)
                {
                    <h4> Documento procurado: @Model.NUMERO </h4>

                }
            </div>*@



                    if (!string.IsNullOrEmpty(msgErro))
                    {
                        <h4>  @ViewBag.MSGErroBusca </h4>

                    }
                    else
                    {
                        <div id="nofind" class="HideLoader">
                            <h4> Nenhum documento encontrado</h4>
                        </div>

                        <div id="inicio" class="ShowLoader">
                            <h4> Documento procurado: @Model.NUMERO </h4>
                        </div>

                        <hr />
                        if (resposta == true)
                        {
                            <input id="botao" type="submit" onclick="this.disabled=true;this.form.submit();javascript:LimpaDiv()" value="CARREGA DOCUMENTO" class="btn btn-default" />
                        }

                    }



                   

                }
            </div>

            <div id="UpdateContentDiv">

            </div>

        </div>


    </div>
</div>
</div>

@section Scripts {


    <script>
        function Sai() {
            $("#ok_projeto").empty();
        }


    </script>



    <script>
        function LimpaDiv() {

            $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
            $("#botao").removeClass("ShowLoader").addClass("HideLoader");
            $("#msg").removeClass("ShowLoader").addClass("HideLoader");
        }
    </script>

    <script>
        function AjaxFormSuccess(e) {
            debugger
            if (e != "") {
                //$("#ok").empty();
                //$("#id_alerta").removeClass("ShowLoader").addClass("HideLoader");
                //$("#botao").removeClass("ShowLoader").addClass("HideLoader");
                //$("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
                window.location.href = e;
                //$.ajax({

                //}).done(function () {

                //    //$("#ok").empty();
                //    window.location.href = e;

                //    //"/ListaDocumento/IndexLD?guidDocumento=" + e;
                //})

            }
            else {
                $("#inicio").removeClass("ShowLoader").addClass("HideLoader");
                $("#nofind").removeClass("HideLoader").addClass("ShowLoader");
                //$("#editor").removeClass("HideLoader").addClass("ShowLoader");
                //$("#label").removeClass("HideLoader").addClass("ShowLoader");
                //$("#id_saida").removeClass("HideLoader").addClass("ShowLoader");
                //$("#id_alerta").removeClass("HideLoader").addClass("ShowLoader");

            }
        };

    </script>






}
            /**/
            /**/
